pandasのお勉強
主にDataframeについて

In [1]:
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html
#pandasのモジュールをインポート(pandasを使えるようにする準備)
import pandas as pd

In [2]:
#テスト用のデータを確認
!cat data1-1.csv

In [3]:
#テスト用のCSVデータをDataframeに読み込み
df = pd.read_csv('data1-1.csv')
df

   A  B  C   D
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12

In [4]:
#dfの変数型がDataFrameであることを確認
type(df)

pandas.core.frame.DataFrame

In [5]:
#columnsの確認
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [6]:
#indexの確認
df.index

RangeIndex(start=0, stop=3, step=1)

In [7]:
#'D'列を取り出す
df['D']

0    10
1    11
2    12
Name: D, dtype: int64

In [8]:
#ちなみに、1列だけとりだすと変数型はシリーズになる
type(df['D'])

pandas.core.series.Series

In [9]:
#to_frameでデータフレームに変換できる
df0 = df['D'].to_frame()
type(df0)

pandas.core.frame.DataFrame

In [10]:
#C列とD列を取り出す
#複数列指定するときは、リスト形式で。[]が１組多いので注意
df[['C', 'D']]

   C   D
0  7  10
1  8  11
2  9  12

In [11]:
type(['C', 'D'])

list

In [12]:
#1行目から2行目を抜出す
df[1:3]

   A  B  C   D
1  2  5  8  11
2  3  6  9  12